*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importaciones se deben llamar desde el principal
//para incluir se debe hacer lo siguiente

/* UTILIDADES */
@import './utilidades/colores';
@import './utilidades/tamanio';
@import './utilidades/extend';
@import './utilidades/mixin';

/* SECCIONES */
@import './secciones/index';

