/****** Alimentos ********/
.principal {
    .div-al {
        display: flex;
        .carr-al {
            @include contenedor;
        }
    }
    
}

/******* peces ********/
.separacion {
    margin: 1rem 6rem;
    .img-full {
        height: 100vh !important;
    }
    .sep-in {
        padding: 1rem;
    }
}

.card-texto {
    width: 80% !important;
    height: 350px !important;
}