$azul: #315fa8;
$verde: green;
$dark: #18202d;
$azuloscuro: #18036b;
$gris: rgb(223, 218, 218);
$blanco: white;
$negro: black;
$celeste: rgb(11, 84, 242);
$verdeOscuro: rgb(5, 70, 5);
$footer: rgb(80, 78, 78);