// mixin Sencillo
@mixin contenedor {
    background: none;
    border: none;
    color: $dark;
    width: 8wh;
    height: 8vh;
}
/* mixin like a pro */
@mixin FontStyle($verde, $tamanioLetra, $dark) {
    color:$verde;
    font-size: $tamanioLetra;
    &:hover{
        color: $dark;
    }
}

